#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define U_TAPPING_TERM 200

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        // Математические символы
        minus { 
            bindings = <&kp MINUS>; 
            key-positions = <31 30>; 
        };
        
        underscore { 
            bindings = <&kp UNDER>; 
            key-positions = <42 43>; 
        };
        
        equal { 
            bindings = <&kp EQUAL>; 
            key-positions = <40 41>; 
        };
        
        plus { 
            bindings = <&kp PLUS>; 
            key-positions = <18 19>; 
        };
        
        less { 
            bindings = <&kp LESS_THAN>; 
            key-positions = <39 40>; 
        };
        
        greater { 
            bindings = <&kp GREATER_THAN>; 
            key-positions = <43 44>; 
        };

        // Скобки круглые
        par { 
            bindings = <&kp RIGHT_PARENTHESIS>; 
            key-positions = <31 32>; 
            require-prior-idle-ms = <100>; 
        };
        
        par2 { 
            bindings = <&kp LEFT_PARENTHESIS>; 
            key-positions = <27 28>; 
            require-prior-idle-ms = <100>; 
        };

        // Скобки квадратные
        bra { 
            bindings = <&kp LEFT_BRACKET>; 
            key-positions = <15 16>; 
        };
        
        right { 
            bindings = <&kp RIGHT_BRACKET>; 
            key-positions = <19 20>; 
        };

        // Специальные клавиши
        esc { 
            bindings = <&kp ESCAPE>; 
            key-positions = <0 1>; 
        };
        
        logoff { 
            bindings = <&kp LG(L)>; 
            key-positions = <0 12>; 
        };

        // Bluetooth слой
        LAYER_BT { 
            bindings = <&mo 5>; 
            key-positions = <36 47>; 
        };

        // Скролл
        Scroll_L { 
            bindings = <&msc SCRL_LEFT>; 
            key-positions = <24 36>; 
        };
        
        Scroll_R { 
            bindings = <&msc SCRL_RIGHT>; 
            key-positions = <25 37>; 
        };
    };

    behaviors {
        phrase_proshu: phrase_proshu {
            compatible = "zmk,behavior-macro";
            label = "phrase_proshu";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp G>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp H>,
                <&macro_tap>,
                <&kp J>,
                <&macro_tap>,
                <&kp I>,
                <&macro_tap>,
                <&kp E>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_tap>,
                <&kp H>,
                <&macro_tap>,
                <&kp F>,
                <&macro_tap>,
                <&kp C>,
                <&macro_tap>,
                <&kp C>,
                <&macro_tap>,
                <&kp V>,
                <&macro_tap>,
                <&kp J>,
                <&macro_tap>,
                <&kp N>,
                <&macro_tap>,
                <&kp H>,
                <&macro_tap>,
                <&kp T>,
                <&macro_tap>,
                <&kp N>,
                <&macro_tap>,
                <&kp M>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        phrase_spasibo: phrase_spasibo {
            compatible = "zmk,behavior-macro";
            label = "phrase_spasibo";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp G>,
                <&macro_tap>,
                <&kp F>,
                <&macro_tap>,
                <&kp C>,
                <&macro_tap>,
                <&kp B>,
                <&macro_tap>,
                <&kp COMMA>,
                <&macro_tap>,
                <&kp J>,
                <&macro_tap>,
                <&kp EXCL>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp GRAVE   &kp N1      &kp N2                  &kp N3        &kp N4         &kp N5              &kp N6           &kp N7      &kp N8     &kp N9    &kp N0     &kp MINUS
&kp TAB     &kp Q       &kp W                   &kp E         &kp R          &kp T               &kp Y            &kp U       &kp I      &kp O     &kp P      &kp LEFT_BRACKET
&kp LSHFT   &kp A       &kp S                   &kp D         &kp F          &kp G               &kp H            &kp J       &kp K      &kp L     &kp SEMI   &kp APOS
&kp LCTRL   &kp Z       &kp X                   &kp C         &kp V          &kp B               &kp N            &kp M       &kp COMMA  &kp DOT   &kp FSLH   &mo 2
            &kp LGUI    &lt 1 C_AL_CALCULATOR   &lt 4 ENTER   &kp SPACE      &kp LEFT_ALT        &trans           &trans      &kp BACKSPACE    &kp RSHIFT  &kp ENTER
            >;
        };

        num_and_fun {
            bindings = <
&trans  &kp F1              &kp F2              &kp F3          &kp F4              &kp F5               &trans           &trans           &trans           &trans        &trans         &trans
&trans  &kp F6              &kp F7              &kp F8          &kp F9              &kp F10              &kp LPAR         &kp NUMBER_7     &kp NUMBER_8     &kp NUMBER_9  &kp KP_DIVIDE  &kp ASTERISK
&trans  &kp LA(LEFT_ARROW)  &kp LC(LEFT_ARROW)  &kp UP_ARROW    &kp LC(RIGHT_ARROW)  &kp F11              &kp RPAR         &kp NUMBER_4     &kp NUMBER_5     &kp NUMBER_6  &kp MINUS      &kp RS(EQUAL)
&trans  &kp LA(RIGHT_ARROW) &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW     &kp F12              &kp KP_NUMBER_0  &kp NUMBER_1     &kp NUMBER_2     &kp NUMBER_3  &kp KP_DOT     &kp LEFT_ALT
        &trans              &trans              &trans          &trans              &trans               &trans           &trans           &trans           &trans        &trans
            >;
        };

        auto_mouse {
            bindings = <
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans           &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans           &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans           &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &lt 3 SCROLLLOCK &trans  
        &mkp LCLK  &mkp RCLK  &trans  &trans     &mkp MCLK      &trans  &trans  &trans  &trans  &trans
            >;
        };

        snipe_layer {
            bindings = <
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans     &trans  &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans  
        &mkp LCLK  &mkp RCLK  &trans  &trans     &mkp MCLK      &trans  &trans  &trans  &trans  &trans
            >;
        };

        corrections {
            bindings = <
&trans  &trans  &trans             &trans     &trans          &trans          &trans           &trans  &trans      &trans  &trans  &trans
&trans  &trans  &trans             &trans     &trans          &trans          &phrase_proshu   &trans  &trans      &trans  &trans  &trans
&trans  &trans  &kp LC(BACKSPACE)  &kp LC(Z)  &kp LC(DELETE)  &trans          &phrase_spasibo  &trans  &trans      &trans  &trans  &trans
&trans  &trans  &kp BACKSPACE      &kp LC(Z)  &kp DELETE      &trans          &trans           &trans  &trans      &trans  &trans  &trans
        &trans  &trans             &trans     &trans          &trans          &trans           &trans  &kp DELETE  &trans  &trans
            >;
        };

        set_bt {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bootloader  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &bt BT_CLR        &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans            &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans            &trans       &trans  &trans  &trans  &trans  &trans
        &trans        &trans        &trans        &trans        &trans            &trans       &trans  &trans  &trans  &trans
            >;
        };
    };
};
